:root{
    --c1: #27272B;
    --c2: #1B1B1E;
    --c3: #F1F2F6;
    --c4: #303036;
    --c5: #DADCE7;
    --c6: #BEBEC5;
}

.content{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    height: fit-content;
    width: fit-content;
}

.info{
    height: 200px;
    width: 350px;
    margin: 16px 0px 0px 16px;
    border-radius: 12px;
}

.thumbnail{
    border-radius: 12px;
}

.pic{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: 10px 0px 0px 20px
}

.account{
    display: flex;
    flex-direction: row;
}

.inContainer{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 10px
}

.videoName{
    max-width: 285px;
    font-size: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--c3);
    font-weight: 500;
}

.userName{
    max-width: 285px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--c3);
    font-size: 12px;
    margin: 0px 0px 16px 0px;
}